.actions {
    margin: 2em 0em 3em 13em;
    color: #337ab7;
}

.btn-lg {
    margin: 0em 8em 0em -2em;
}

.form-group {
    margin: 0em 0em 0em 10em;
    font-size: 17px;
}

.Notes {
    margin: 2em 0em 0em 2em;
    font-size: 20px;
}
.amount {
    background: white;
    border: 2px solid #751c20;
    padding: 6px;
}

.form-control {
    width:auto;
    margin: 1em 0em 0em -8em;
}

.label {
    color:#000;
    margin: 0em 0em 0em 4em;
    font-size: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
